In [2]:
import pandas as pd
import os

print(os.system("pwd"))

/home/magico/Main/Projects/Price-Prediction/Price-Prediction-v6/notebooks
0

In [11]:
pd.read_csv("./data.csv")

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-07-30,1.189202,1.191100,1.185550,1.189300,0,0,0
1,2021-07-29,1.184680,1.189202,1.184175,1.184596,0,0,0
2,2021-07-28,1.182240,1.183012,1.178578,1.182313,0,0,0
3,2021-07-27,1.180638,1.183712,1.177177,1.180777,0,0,0
4,2021-07-26,1.177302,1.181754,1.176457,1.177343,0,0,0
...,...,...,...,...,...,...,...,...
1818,2021-07-23,1.177357,1.178550,1.175599,1.177274,0,0,0
1819,2021-07-26,1.177302,1.181754,1.176457,1.177343,0,0,0
1820,2021-07-27,1.180638,1.183712,1.177177,1.180777,0,0,0
1821,2021-07-28,1.182240,1.183012,1.178578,1.182313,0,0,0
1822,2021-07-29,1.184680,1.189202,1.184175,1.184596,0,0,0